@font-face {
    font-family: "Noto Sans";
    src:
        url("/static/fonts/NotoSans-Regular.woff2") format("woff2"),
        url("/static/fonts/NotoSans-Regular.woff") format("woff"),
        url("/static/fonts/NotoSans-Regular.ttf") format("truetype");
}

html {
    position: relative;
    min-height: 100vh;
    scroll-behavior: auto !important;
}

body {
    font-family: "Noto Sans", sans-serif;
}

.description {
    width: 95%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.image {
    height: 20vh;
    margin-right: 1rem;
    max-height: 20vw;
    min-width: 20vw;
    object-fit: cover;
    position: relative;
    width: 20vw;
}

.image::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: " ";
    background-image: url("/static/img-placeholder.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    padding-bottom: 1.5rem;
    padding-top: 60px;
}
