<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/static/icons/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/icons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <meta name="msapplication-TileColor" content="#3e3f3a">
    <meta name="msapplication-TileImage" content="/static/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#3e3f3a">

    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="{{ url_for('css') }}">

    <script>history.scrollRestoration = "manual"</script>
    {%- block meta %}{% endblock %}

    {%- set title = "[НОВИНИ]" | lesiwka %}
    {%- set description = "Новини України та світу українською латинкою" %}
    {%- set image = request.host_url + "static/og-image.png" %}

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">

    <meta property="og:url" content="{{ request.host_url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ image }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="{{ request.host }}">
    <meta property="twitter:url" content="{{ request.host_url }}">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ image }}">
</head>
<body>
<header>
    <nav class="navbar navbar-dark fixed-top bg-dark">
        <div class="container d-flex">
            <div class="navbar-brand font-weight-bold font-monospace">
                <a class="text-decoration-none" href="/" title="{{ description }}">{{ title }}</a>
            </div>
            <div class="d-none d-md-block mx-auto text-light fst-italic">{{ description }}</div>
        </div>
    </nav>
</header>

<main class="container main">
{%- block content %}{% endblock -%}
</main>

<footer class="bg-success footer">
    <div class="container text-center">
        <div class="row align-items-center">
            <a class="non-app-hide col-6 text-dark" href="{{ url_for('contact') }}">&#9993 зворотній зв'язок</a>
            <a class="non-app-w100 col-6 text-dark" href="https://lesiwka.com" target="_blank">&copy; 2023 lesiwka.com</a>
        </div>
    </div>
</footer>
{%- block scripts %}{% endblock %}
</body>
</html>
