<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="msapplication-TileColor" content="#3e3f3a">
    <meta name="msapplication-TileImage" content="/static/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#3e3f3a">
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="/static/styles.css">
    <title>[{{ "НОВИНИ" | lesiwka }}]</title>
</head>
<body>
<header>
    <nav class="navbar navbar-dark fixed-top bg-dark">
        <div class="container d-flex">
            <div class="navbar-brand font-weight-bold font-monospace">
                <a class="text-decoration-none" href="/">[{{ "НОВИНИ" | lesiwka }}]</a>
            </div>
        </div>
    </nav>
</header>
<main class="container main">
<div id="news" class="accordion accordion-flush">
{%- for article in articles %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ article.id }}" aria-expanded="false" aria-controls="{{ article.id }}">
                <img class="image" src="{{ article.image }}" alt="{{ article.title }}">
                <span>
                    <b>{{ article.title | lesiwka }}</b>
                    <span class="d-none d-md-block w40">
                        <br>
                        {{ article.description | lesiwka }}
                    </span>
                </span>
            </button>
        </h2>
        <div id="{{ article.id }}" class="accordion-collapse collapse" data-bs-parent="#news">
            <div class="accordion-body">
                <p class="text-muted"><i>{{ article.published | lesiwka }}</i></p>
                {%- if article.content_full %}
                {%- for line in article.content_full.splitlines() %}
                <p>{{ line | lesiwka }}</p>
                {%- endfor %}
                <p><a href="{{ article.url }}" target="_blank">{{ article.source_domain }}</a></p>
                {%- else %}
                {%- for line in article.content.splitlines() %}
                <p>{{ line | lesiwka }}{% if loop.last %} <a href="{{ article.url }}" target="_blank">{{ article.source_domain }}</a>{% endif %}</p>
                {%- endfor %}
                {%- endif %}
            </div>
        </div>
    </div>
{%- endfor %}
</div>
</main>
<footer class="bg-success">
    <div class="container text-center">
        <a class="text-dark" href="https://lesiwka.com" target="_blank">&copy; 2023 lesiwka.com</a>
    </div>
</footer>
{{- bootstrap.load_js(with_popper=False) }}
<script src="/static/script.js"></script>
</body>
</html>
