{% extends "base.html" %}

{% block content %}
<div id="news" class="accordion accordion-flush">
{%- for article in articles %}
    {%- set description = article.description | lesiwka %}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ article.id }}" aria-expanded="false" aria-controls="{{ article.id }}">
                <img class="image" src="{{ article.image }}" alt="{{ article.title }}" referrerpolicy="no-referrer">
                <span>
                    <b>{{ article.title | lesiwka }}</b>
                    <span class="d-none d-md-block w40">
                        <br>
                        {{ description }}
                    </span>
                </span>
            </button>
        </h2>
        <div id="{{ article.id }}" class="accordion-collapse collapse" data-bs-parent="#news">
            <div class="accordion-body">
                <p class="d-md-none border rounded p-2">{{ description }}</p>
                <p class="text-muted"><i>{{ article.published }}</i></p>
                {%- if article.content_full %}
                {%- for line in article.content_full.splitlines() %}
                <p>{{ line | lesiwka }}</p>
                {%- endfor %}
                <p><a href="{{ article.url }}" target="_blank" rel="noopener norefferer">{{ article.source_domain }}</a></p>
                {%- else %}
                {%- for line in article.content.splitlines() %}
                <p>{{ line | lesiwka }}{% if loop.last %} <a href="{{ article.url }}" target="_blank">{{ article.source_domain }}</a>{% endif %}</p>
                {%- endfor %}
                {%- endif %}
            </div>
        </div>
    </div>
{%- endfor %}
</div>
{% endblock %}

{% block scripts %}
{{ bootstrap.load_js(with_popper=False).strip() }}
<script src="/static/script.js"></script>
{%- endblock %}
